<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassMeet</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.svg" type="image/x-icon">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            -webkit-tap-highlight-color: transparent;
        }

    </style>
</head>

<body class=" transition rounded delay-50 bg-black border-t-4 border-yellow-500 overflow-x-hidden">
    <section class="max-w-6xl mx-auto py-24">
        <div class="md:flex items-center justify-center md:space-x-12">
            <img src="images/clock.svg" class="md:max-w-lg p-4" alt="">
            <div class="">
                <div class="grid grid-cols-2 items-center justify-center space-x-4">
                    <div class="space-y-4 text-gray-500 text-right">
                        <p>11 AM - 12 AM</p>
                        <p>12 AM - 1 PM</p>
                        <p>1 PM - 2 PM</p>
                        <p>2 PM - 3 PM</p>
                        <p>3 PM - 4 PM</p>
                        <p>4 PM - 5 PM</p>
                        <p>5 PM - 6 PM</p>
                        <p>6 PM - 7 PM</p>
                        <p>7 PM - 8 PM</p>
                    </div>
                    <div class="px-2  text-white">
                        <form action="/timetable" class="space-y-4 " method="post" id="myTimetable">
                            <!-- <%for(var i=11;i< 20;i++){%>
                            <% var found=0 %>
                                <%for(var p=0;p< tasks.length;p++){%>
                                    <% if(tasks[p].order==i) {%>
                                        <% found=1 %>
                                            <input name="<%='taskAt'+i%>" class="bg-transparent block" id="<%=i%>"
                                                value="<%=tasks[p].task%>">



                                            <% } %>

                                                <% } %>
                                                    <% if(found==0) {%>
                                                        <p>GRE</p>
                                                        <% } %>
                                                            <% } %> -->
                            <% if(timetable.length==0) {%>
                                <%for(var i=11;i< 20;i++){%>
                                    <%randomTask=Math.floor(Math.random() * tasks.length)%>
                                        <input name="<%='taskAt'+i%>" class=" bg-transparent block w-fit" id="<%=i%>"
                                            value="<%=tasks[randomTask].task%>">
                                        <% } %>
                                            <% }else{ %>

                                                <input name="taskAt11" class=" bg-transparent block" id="11"
                                                    value=" <%=timetable[0].taskAt11%>">
                                                <input name="taskAt12" class="  bg-transparent block" id="12"
                                                    value=" <%=timetable[0].taskAt12%>">
                                                <input name="taskAt13" class="bg-transparent block" id="13"
                                                    value=" <%=timetable[0].taskAt13%>">
                                                <input name="taskAt14" class="  bg-transparent block" id="14"
                                                    value=" <%=timetable[0].taskAt14%>">
                                                <input name="taskAt15" class=" bg-transparent block" id="15"
                                                    value=" <%=timetable[0].taskAt15%>">
                                                <input name="taskAt16" class=" bg-transparent block" id="16"
                                                    value=" <%=timetable[0].taskAt16%>">
                                                <input name="taskAt17" class=" bg-transparent block" id="17"
                                                    value=" <%=timetable[0].taskAt17%>">
                                                <input name="taskAt18" class=" bg-transparent block" id="18"
                                                    value=" <%=timetable[0].taskAt18%>">

                                                <input name="taskAt19" class=" bg-transparent block" id="19"
                                                    value=" <%=timetable[0].taskAt19%>">

                                                <% } %>

                        </form>




                    </div>
                </div>
                <div class="flex items-center justify-center md:block">
                    <button type="submit"
                        class="mt-6  w-full mx-2  text-yellow-500 border-2 border-yellow-500 px-12 py-4 rounded-3xl"
                        onclick="submitForm()">Commit</button>
                </div>
            </div>
        </div>

    </section>

    <section class="max-w-6xl mx-auto py-24 px-2">
        <p class="text-4xl text-white">Your tasks</p>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 text-center text-gray-500 mt-4" id="taskBoard">

            <%for(var i=0;i< tasks.length;i++){%>
                <div
                    class="text-white bg-gray-900 px-4 py-8 rounded-3xl flex items-center justify-center space-x-4 transition duration-100 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" h-6 fill-current text-yellow-500"
                        viewBox="0 0 24 24">
                        <path
                            d="M6 12c0 2.206 1.794 4 4 4 1.761 0 3.242-1.151 3.775-2.734l2.224-1.291.001.025c0 3.314-2.686 6-6 6s-6-2.686-6-6 2.686-6 6-6c1.084 0 2.098.292 2.975.794l-2.21 1.283c-.248-.048-.503-.077-.765-.077-2.206 0-4 1.794-4 4zm4-2c-1.105 0-2 .896-2 2s.895 2 2 2 2-.896 2-2l-.002-.015 3.36-1.95c.976-.565 2.704-.336 3.711.159l4.931-2.863-3.158-1.569.169-3.632-4.945 2.87c-.07 1.121-.734 2.736-1.705 3.301l-3.383 1.964c-.29-.163-.621-.265-.978-.265zm7.995 1.911l.005.089c0 4.411-3.589 8-8 8s-8-3.589-8-8 3.589-8 8-8c1.475 0 2.853.408 4.041 1.107.334-.586.428-1.544.146-2.18-1.275-.589-2.69-.927-4.187-.927-5.523 0-10 4.477-10 10s4.477 10 10 10c5.233 0 9.521-4.021 9.957-9.142-.301-.483-1.066-1.061-1.962-.947z" />
                    </svg>
                    <p>
                        <%=tasks[i].task%>
                    </p>
                    <!-- <p>
                        <%=tasks[i].order%>
                    </p> -->
                </div>
                <% } %>
                    <div
                        class="text-white border-2 border-yellow-500 px-4 py-8 rounded-3xl flex items-center justify-center space-x-4">
                        <form action="/create" method="post" class="flex items-center justify-center space-x-4">

                            <input type="text" name="taskName" placeholder="+ Task details"
                                class="placeholder-yellow-500 text-yellow-500 focus:bg-transparent text-center bg-transparent focus:outline-none">
                        </form>
                    </div>
        </div>
    </section>


    <script>
        var d = new Date();

        setInterval(function () {
            var hrs = d.getHours();
            document.getElementById(hrs).classList.add('font-bold', 'text-yellow-500',)
        }, 500)


        // --------------------------------------RELOAD FORM EVERy HOUR-----------------------------------------
        setInterval(function () {
            location.reload()
        }, 1800000)

        // --------------------------------------SUBMIT FORM AFTER COMMIT-----------------------------------------
        function submitForm() {
            document.getElementById('myTimetable').submit()
        }

        // --------------------------------------REFRESH TIMETABLE AT 8-----------------------------------------
        var now = new Date();
        var millisTill8 = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 16, 17, 0, 0) - now;
        if (millisTill8 < 0) {
            millisTill8 += 86400000; // it's after 10am, try 10am tomorrow.
        }

        setTimeout(function () {

            fetch(`/clearTimetable`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Data received:', data);
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });

        }, millisTill8);
    </script>


</body>







</html>
